<%- partial('common/head') %>
<body>
  <a class="skip-link" href="#main">跳到主要內容</a>
  <div class="atmos" aria-hidden="true">
    <div class="glow"></div><div class="grid"></div><div class="grain"></div><div class="scan"></div><div class="vig"></div>
  </div>
  <%- partial('common/dark-fx') %>

  <%- partial('common/header') %>

  <div class="wrap">
    <div class="layout">
      <main id="main" tabindex="-1"><%- body %></main>
      <%- partial('common/sidebar') %>
    </div>
  </div>

  <%- partial('common/footer') %>
  <%- partial('search/casper') %>
  <%- partial('common/creatures') %>
  <%- partial('common/scripts') %>
</body>
</html>
