
<h4 class="mb-3">Recent post</h4>
<% if (site.posts.length) { %> <% site.posts.sort('date',
-1).limit(5).each(function(post) { %>
<div class="card mb-3">
  <div class="row g-3">
    <div class="col-4">
      <% if (theme.customize.thumbnail === true) { %> <%-
      partial('common/thumbnail.ejs', { post: post, className: 'rounded' }) %> <% } %>
    </div>
    <div class="col-8">
      <h6>
        <a
          href="<%- url_for((post.link?post.link:post.path)) %>"
          class="btn-link stretched-link text-reset fw-bold"
          ><%= post.title %></a
        >
      </h6>
      <div class="small mt-1">
        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"
          ><%= date(post.date) %></time
        >
      </div>
    </div>
  </div>
</div>
<% }) %> <% } %>
