<%- partial('common/head') %>
<body>
  <div>
    <%- partial('common/header', null, {cache: !config.relative_link}) %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <section id="main">
            <%- partial('common/content-title') %>
            <div id="sticky-space"></div>
            <div class="main-body-content">
              <%- body %>
            </div>
          </section>
        </div>
        <div class="col-lg-3 mt-5 mt-lg-0">
          <%- partial('common/sidebar') %>
        </div>
      </div>
    </div>
    <%- partial('common/footer', null, {cache: !config.relative_link}) %>
    <%- partial('common/scripts') %>
    <%- partial('widget/google_adsense_fixed') %>
  </div>
</body>
</html>
