
<% if (post.prev || post.next) { %>
<style>
.article-entry .article-nav {
  display: flex;
  background-color: rgba(0,0,0,0.03);
}
.article-entry .article-nav .col-12 {
  flex: 0 0 auto;
  width: 50%;
}
</style>
<div class="row g-0 mt-5 border-top border-bottom article-nav">
  <% if (post.next) { %>
    <div class="col-12 py-3 py-md-4">
      <div class="d-flex align-items-center position-relative">
        <!-- Icon -->
        <div class="bg-primary py-1">
          <i class="bi bi-chevron-compact-left fs-3 text-white px-1 rtl-flip"></i>
        </div>
        <!-- Title -->
        <div class="ms-3">
          <h5 class="m-0">
            <a href="<%- url_for(post.next.path) %>" class="stretched-link btn-link text-reset"
              ><%= __('sidebar.older') %>：<%= post.next.title %></a
            >
          </h5>
        </div>
      </div>
    </div>
  <% } %>
  <% if (post.prev) { %>
  <div class="col-12 py-3 py-md-4 text-sm-end">
    <div class="d-flex align-items-center position-relative justify-content-end">
      <!-- Title -->
      <div class="me-3">
        <h5 class="m-0">
          <a href="<%- url_for(post.prev.path) %>" class="stretched-link btn-link text-reset"
            ><%= __('sidebar.newer') %>：<% if (post.prev.title) { %> <%= post.prev.title %> <% } else { %> (no
              title) <% } %></a
          >
        </h5>
      </div>
      <!-- Icon -->
      <div class="bg-primary py-1">
        <i
          class="bi bi-chevron-compact-right fs-3 text-white px-1 rtl-flip"
        ></i>
      </div>
    </div>
  </div>
  <% } %>
</div>
<% } %>