<% if (post.link) { %>
<h3 itemprop="name">
  <a href="<%- url_for(post.link) %>" itemprop="url" class="btn-link stretched-link text-reset"
    ><%= post.title %></a
  >
</h3>
<% } else if (post.title) { %> <% if (typeof(linkable) !== 'undefined' &&
linkable) { %>
<h3 class="<%= class_name %>" itemprop="name">
  <a href="<%- url_for(post.path) %>" class="btn-link stretched-link text-reset"><%= post.title %></a>
</h3>
<% } else { %>
<h1 class="display-5" itemprop="name"><%= post.title %></h1>
<% } %> <% } %>
